<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard/header.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/themify-icons/themify-icons.css">
    <link rel="icon" type="image/x-icon" href="/img/symbol.JPG">
    <title>Liên Hệ</title>
</head>

<body>
    <div id="header">
        <div class="col-quarter icon-web">
            <img src="/img/logo-canh-cay.PNG" alt="logo-IUH" class="logo-canh-cay">
            <h5>DHDKTD K15</h5>
        </div>
        <div class="col-half text-cennter">
            <ul id="nav">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/config">Configuration</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="col-quarter">
            <div class="input-user user-btn">
                Log In
            </div>
            <div class="user-btn">
                <i class="user-icon ti-user"></i>
            </div>
        </div>
    </div>
    <!-- CONTACT -->

    <div class="centerText">
        <h2 class="colorh2">Our teams are here to helps</h2>
        <div class="line">
        </div>
    </div>
    <!-- GV HUONG DAN -->
    <div class="row centerItem marginT10">
        <div class="border1px">
            <h4>
                GV HUONG DAN
            </h4>
            <h5>Hoàng Thị Tú Uyên</h5>
            <h5>Contact me</h6>
                <div class="socials-list">
                    <a href=""><i class="ti-facebook"></i></a>
                    <a href=""><i class="ti-instagram"></i></a>

                </div>
        </div>
    </div>
    <!--HIẾU HUY  -->
    <div class="row centerItem marginT10">
        <div class="border1px">
            <h5>
                Nguyễn Văn Hiếu
            </h5>
            <p>Phát triển server</p>
            <h5>Contact me</h6>
                <div class="socials-list">
                    <a href=""><i class="ti-facebook"></i></a>
                    <a href=""><i class="ti-instagram"></i></a>

                </div>
        </div>
        <div class="border1px">
            <h5> Nguyễn Vũ Quang Huy</h5>
            <p>Phát triển Web</p>
            <h5>Contact me</h6>
                <div class="socials-list">
                    <a href=""><i class="ti-facebook"></i></a>
                    <a href=""><i class="ti-instagram"></i></a>

                </div>
        </div>

        <!-- GIÀU ĐẠI HẢI -->

        <div class="border1px">
            <h5>
                Trần Thanh Giàu
            </h5>
            <p>Phát triển ESP32</p>
            <h5>Contact me</h6>
                <div class="socials-list">
                    <a href=""><i class="ti-facebook"></i></a>
                    <a href=""><i class="ti-instagram"></i></a>

                </div>
        </div>
        <div class="border1px">
            <h5>Nguyễn Văn Đại</h5>
            <p>Phát triển Lora</p>
            <h5>Contact me</h6>
                <div class="socials-list">
                    <a href=""><i class="ti-facebook"></i></a>
                    <a href=""><i class="ti-instagram"></i></a>

                </div>
        </div>
        <div class="border1px">
            <h5>Lê Quang Hải</h5>
            <p>Phát triển STM32</p>
            <h5>Contact me</h6>
                <div class="socials-list">
                    <a href=""><i class="ti-facebook"></i></a>
                    <a href=""><i class="ti-instagram"></i></a>

                </div>
        </div>
    </div>

</body>

</html>