<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/dashboard/main.css">
    <link rel="stylesheet" href="/css/dashboard/header.css">
    <link rel="stylesheet" href="/css/themify-icons/themify-icons.css">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
    <title>GIAO DIỆN IOT</title>
</head>

<body>
    <div id="header">
        <div class="col-quarter icon-web">
            <img src="/img/logo-canh-cay.PNG" alt="logo-IUH" class="logo-canh-cay">
            <h5>DHDKTD K15</h5>
        </div>
        <div class="col-half text-cennter">
            <ul id="nav">
                <li><a href="http://localhost:1234/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="#tour">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <!-- <li><a href="#">
                        More
                        <i class="nav-down ti-angle-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="">Merchandise</a></li>
                        <li><a href="">Extras</a></li>
                        <li><a href="">Media</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
        <div class="col-quarter">
            <div class="input-user user-btn">
                Log In
            </div>
            <div class="user-btn">
                <i class="user-icon ti-user"></i>
            </div>
            <div><span id="curClock"></span></div>
        </div>
    </div>
    <!-- DASHH BORD -->
    <div style="margin-top: 70px;">
        <div class="size border box-borderbox">
            <h1 class="border box-borderbox text-center">QUAN LY NHA KINH</h1>
            <div class="row">
                <div class="col-half border ">
                    <h5 class="border text-center">Nha Kinh 1</h5>
                    <h5 class="border text-center">YEU TO MOI TRUONG</h5>
                    <div class="row">
                        <div class="col-third boder ">
                            <div class="border background_color text-center Temperature1 ">
                                <h4 class="border "> Nhiet Do</h4>
                                <div class="mg_mid9"><span class="nd1">kjkg</span></div>
                            </div>
                        </div>
                        <div class="col-third boder ">
                            <div class="border background_color text-center AnhSang1">
                                <h4 class="border">Anh Sang</h4>
                                <div class="mg_mid9"><span>kjkg</span></div>
                            </div>
                        </div>
                        <div class="col-third boder">
                            <div class="border background_color text-center Do-am1">
                                <h4 class="border">Do Am</h4>
                                <div class="mg_mid9"><span>kjkg</span></div>
                            </div>
                        </div>
                    </div>

                    <h5 class="border text-center">YEU TO TRONG DAT</h5>
                    <div class="row">
                        <div class="col-third boder ">
                            <div class="border background_color text-center PH1">
                                <h4 class="border">PH</h4>
                                <div class="mg_mid9"><span>kjkg</span></div>
                            </div>
                        </div>
                        <div class="col-third boder ">
                            <div class="border background_color text-center NPK1">
                                <h4 class="border">NPK</h4>
                                <div class="mg_mid9"><span>kjkg</span></div>
                            </div>
                        </div>
                        <div class="col-third boder ">
                            <div class="border background_color text-center ">
                                <h4 class="border">Do Am</h4>
                                <div class="mg_mid9"><span>kjkg</span></div>
                            </div>
                        </div>
                    </div>
                    <!-- Thoi Gian Lay Mau -->
                    <select name="" id="sampling-time1" class="text-center " style="margin-left: 30%;width:200px; margin-top:11px;height: 25px;
                        font-size: 18px;">
                        <option value="1">5 second</option>
                        <option value="2">1 min</option>
                        <option value="3">10 min</option>
                        <option value="4">1 hour</option>
                    </select>
                    <!-- BIEU DO -->
                    <div class="col-full">
                        <canvas id="myChart"></canvas>
                    </div>
                    <h5 class="border text-center">CHON CHE DO</h5>
                    <div class="border row">
                        <span class="mg_tba border light dis_auto">MANUAL</span>
                        <div class="box border">
                            <div class="box1 border_dra3px"></div>
                        </div>
                        <span class="mg_tba border dis_manual">AUTO</span>
                    </div>
                    <!-- <select name="" id="elements" onchange="luutru">
                            <option value="0" class="value1">AUTO</option>
                            <option value="1" class="value2">MANUAL</option>
                        </select> -->
                    <h5 class="border text-center">Trạng Thái</h5>
                    <div class="row">
                        <div class="col-half border background_color hei79 text-center center-parent">
                            <h4 class="border text-center">ĐÈN</h4>
                            <input type="button" id="btn1" class="btn btn_on1 " value="ON">
                            <!-- <input type="button" class="btn2 btn_on7 display-none" value="ON"> -->
                            <div class="display-none element1">
                                <div class="btn2 center-me">ON</div>
                            </div>
                        </div>
                        <div class="col-half border background_color text-center hei79">
                            <h4 class="border text-center">QUẠT</h4>
                            <input type="button" class="btn btn_on2 " value="ON">
                            <!-- <input type="button" class="btn2 btn_on8 display-none" value="ON"> -->
                            <div class="display-none element2">
                                <div class="btn2 center-me">ON</div>
                            </div>
                        </div>

                    </div>
                    <!-- 4 BOM -->
                    <div class="row">
                        <!-- BOM1 -->
                        <div class="col-four border background_color text-center hei79">
                            <h4 class="border text-center">BƠM 1</h4>
                            <input type="button" class="btn btn_on3 " value="ON">

                            <div class="display-none element3">
                                <div class="btn2 center-me">ON</div>
                            </div>
                        </div>
                        <!-- BOM2 -->
                        <div class="col-four border background_color text-center hei79">
                            <h4 class="border text-center">BƠM 2</h4>
                            <input type="button" class="btn btn_on4 " value="ON">

                            <div class="display-none element4">
                                <div class="btn2 center-me">ON</div>
                            </div>
                        </div>
                        <!-- BOM3 -->
                        <div class="col-four border background_color text-center hei79">
                            <h4 class="border text-center">BƠM 3</h4>
                            <input type="button" class="btn btn_on5 " value="ON">

                            <div class="display-none element5">
                                <div class="btn2 center-me">ON</div>
                            </div>
                        </div>
                        <!-- BOM4 -->
                        <div class="col-four border background_color text-center hei79">
                            <h4 class="border text-center">BƠM 4</h4>
                            <input type="button" class="btn btn_on6 " value="ON">

                            <div class="display-none element6">
                                <div class="btn2 center-me">ON</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NHA KINH 2 -->
                <div class="col-half border">
                    <h5 class="border text-center text-center">Nha Kinh 2</h5>
                    <h5 class="border text-center text-center">YEU TO MOI TRUONG</h5>
                    <div class="row text-center">
                        <div class="col-third boder ">
                            <div class="border background_color">
                                <h4 class="border ">Nhiet DO</h4>
                                <div class="mg_mid9"><span>kjkg</span></div>
                            </div>
                        </div>
                        <div class="col-third boder">
                            <div class="border background_color">
                                <h4 class="border">Anh Sang</h4>
                                <div class="mg_mid9"><span>kjkg</span></div>
                            </div>
                        </div>
                        <div class="col-third boder">
                            <div class="border background_color">
                                <h4 class="border">Do Am</h4>
                                <div class="mg_mid9"><span>kjkg</span></div>
                            </div>
                        </div>

                    </div>
                    <h5 class="border text-center">YEU TO TRONG DAT</h5>
                    <div class="row">
                        <div class="col-third boder ">
                            <div class="border background_color text-center ">
                                <h4 class="border">PH</h4>
                                <div class="mg_mid9"><span>kjkg</span></div>
                            </div>
                        </div>
                        <div class="col-third boder ">
                            <div class="border background_color text-center ">
                                <h4 class="border">NPK</h4>
                                <div class="mg_mid9"><span>kjkg</span></div>
                            </div>
                        </div>
                        <div class="col-third boder ">
                            <div class="border background_color text-center ">
                                <h4 class="border">Do Am</h4>
                                <div class="mg_mid9"><span>kjkg</span></div>
                            </div>
                        </div>
                    </div>
                    <!-- Thoi Gian Lay Mau 2 -->
                    <select name="" id="sampling-time1" class="text-center " style="margin-left: 30%;width:200px; margin-top:11px;height: 25px;
                        font-size: 18px;">
                        <option value="1">5 second</option>
                        <option value="2">1 min</option>
                        <option value="3">10 min</option>
                        <option value="4">1 hour</option>
                    </select>
                    <!-- bieu do 2 -->
                    <div class="col-full">
                        <canvas id="myChart1"></canvas>
                    </div>
                    <h5 class="border text-center">CHON CHE DO</h5>
                    <div class="border row">
                        <span class="mg_tba border light dis_auto2">MANUAL</span>
                        <div class="box2 border">
                            <div class="box3 border_dra3px"></div>
                        </div>
                        <span class="mg_tba border dis_manual2">AUTO</span>
                    </div>
                    <h5 class="border text-center">Trạng Thái</h5>
                    <div class="row text-center">
                        <div class="col-half border background_color hei79">
                            <h4 class="border">ĐÈN</h4>
                            <input type="button" class="btn1 btn_on21" value="ON">
                            <div class="display-none element21">
                                <div class="btn2 center-me ">ON</div>
                            </div>
                        </div>
                        <div class="col-half border background_color hei79">
                            <h4 class="border">QUẠT</h4>
                            <input type="button" class="btn1 btn_on22" value="ON">
                            <div class="display-none element22">
                                <div class="btn2 center-me ">ON</div>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <!-- BOM1 -->
                        <div class="col-four border background_color text-center hei79">
                            <h4 class="border text-center">BƠM 1</h4>
                            <input type="button" class="btn1 btn_on23" value="ON">

                            <div class="display-none element23">
                                <div class="btn2 center-me">ON</div>
                            </div>
                        </div>
                        <!-- BOM2 -->
                        <div class="col-four border background_color text-center hei79">
                            <h4 class="border text-center">BƠM 2</h4>
                            <input type="button" class="btn1 btn_on24 " value="ON">

                            <div class="display-none element24">
                                <div class="btn2 center-me">ON</div>
                            </div>
                        </div>
                        <!-- BOM3 -->
                        <div class="col-four border background_color text-center hei79">
                            <h4 class="border text-center">BƠM 3</h4>
                            <input type="button" class="btn1 btn_on25 " value="ON">

                            <div class="display-none element25">
                                <div class="btn2 center-me">ON</div>
                            </div>
                        </div>
                        <!-- BOM4 -->
                        <div class="col-four border background_color text-center hei79">
                            <h4 class="border text-center">BƠM 4</h4>
                            <input type="button" class="btn1 btn_on26 " value="ON">

                            <div class="display-none element26">
                                <div class="btn2 center-me">ON</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    </div>




    <input type="number" class="giatri1" placeholder="Nhiet do bieu do 1">
    <input type="number" class="giatri2" placeholder="Nhiet do bieu do 2">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        //socket.emit('C-ReadDigital', '{ "houseID": 1, "Response": "Read digital", "address": 1, "data": "ea" }')
        //socket.emit('C-ReadDigital', '{ "houseID": 2, "Response": "Read digital", "address": 1, "data": "d5" }')
    </script>
    <!-- Đổi biểu đồ: -->
    <script>
        var bt_on1 = document.querySelector('.btn_on1');
        var bt_on2 = document.querySelector('.btn_on2');
        var bt_on3 = document.querySelector('.btn_on3');
        var bt_on4 = document.querySelector('.btn_on4');
        var bt_on5 = document.querySelector('.btn_on5');
        var bt_on6 = document.querySelector('.btn_on6');
        var bt_on21 = document.querySelector('.btn_on21');
        var bt_on22 = document.querySelector('.btn_on22');
        var bt_on23 = document.querySelector('.btn_on23');
        var bt_on24 = document.querySelector('.btn_on24');
        var bt_on25 = document.querySelector('.btn_on25');
        var bt_on26 = document.querySelector('.btn_on26');

        bt_on1.addEventListener('click', addlight1);
        function addlight1() {
            bt_on1.classList.toggle('light');
            if (bt_on1.classList.value == 'btn btn_on1 light') {
                //console.log(1)
                socket.emit('den1on', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"0","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den1off', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"0","value":"1"}}');
            }
        }
        bt_on2.addEventListener('click', addlight2);
        function addlight2() {
            bt_on2.classList.toggle('light');
            if (bt_on2.classList.value == 'btn btn_on2 light') {
                //console.log(1)
                socket.emit('den2on', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"1","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den2off', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"1","value":"1"}}');
            }
        }
        bt_on3.addEventListener('click', addlight3);
        function addlight3() {
            bt_on3.classList.toggle('light');
            if (bt_on3.classList.value == 'btn btn_on3 light') {
                //console.log(1)
                socket.emit('den3on', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"2","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den3off', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"2","value":"1"}}');
            }
        }
        bt_on4.addEventListener('click', addlight4);
        function addlight4() {
            bt_on4.classList.toggle('light');
            if (bt_on4.classList.value == 'btn btn_on4 light') {
                //console.log(1)
                socket.emit('den4on', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"3","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den4off', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"3","value":"1"}}');
            }
        }

        bt_on5.addEventListener('click', addlight5);
        function addlight5() {
            bt_on5.classList.toggle('light');
            if (bt_on5.classList.value == 'btn btn_on5 light') {
                //console.log(1)
                socket.emit('den5on', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"4","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den5off', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"4","value":"1"}}');
            }
        }

        bt_on6.addEventListener('click', addlight6);
        function addlight6() {
            bt_on6.classList.toggle('light');
            if (bt_on6.classList.value == 'btn btn_on6 light') {
                //console.log(1)
                socket.emit('den6on', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"5","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den6off', '{"server":{"houseID":1,"request":"WriteDigital","lenght":"2","DO":"5","value":"1"}}');
            }
        }

        bt_on21.addEventListener('click', addlight21);
        function addlight21() {
            bt_on21.classList.toggle('light');
            if (bt_on21.classList.value == 'btn1 btn_on21 light') {
                //console.log(1)
                socket.emit('den7on', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"0","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den7off', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"0","value":"1"}}');
            }
        }

        bt_on22.addEventListener('click', addlight22);
        function addlight22() {
            bt_on22.classList.toggle('light');
            if (bt_on22.classList.value == 'btn1 btn_on22 light') {
                //console.log(1)
                socket.emit('den8on', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"1","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den8off', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"1","value":"1"}}');
            }
        }

        bt_on23.addEventListener('click', addlight23);
        function addlight23() {
            bt_on23.classList.toggle('light');
            if (bt_on23.classList.value == 'btn1 btn_on23 light') {
                //console.log(1)
                socket.emit('den9on', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"2","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den9off', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"2","value":"1"}}');
            }
        }

        bt_on24.addEventListener('click', addlight24);
        function addlight24() {
            bt_on24.classList.toggle('light');
            if (bt_on24.classList.value == 'btn1 btn_on24 light') {
                //console.log(1)
                socket.emit('den10on', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"3","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den10off', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"3","value":"1"}}');
            }
        }

        bt_on25.addEventListener('click', addlight25);
        function addlight25() {
            bt_on25.classList.toggle('light');
            if (bt_on25.classList.value == 'btn1 btn_on25 light') {
                //console.log(1)
                socket.emit('den11on', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"4","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den11off', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"4","value":"1"}}');
            }
        }

        bt_on26.addEventListener('click', addlight26);
        function addlight26() {
            bt_on26.classList.toggle('light');
            if (bt_on26.classList.value == 'btn1 btn_on26 light') {
                //console.log(1)
                socket.emit('den12on', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"5","value":"0"}}');
            }
            else {
                //console.log(0)
                socket.emit('den12off', '{"server":{"houseID":2,"request":"WriteDigital","lenght":"2","DO":"5","value":"1"}}');
            }
        }
        socket.on('display1', (data) => {
            let jsonData = JSON.parse(data)
            //console.log(jsonData)
            let value = parseInt(jsonData.data, 16).toString(2)
            //console.log(value)
            let bitsArray = value.split("");
            let bit1 = bitsArray[0];
            let bit2 = bitsArray[1];
            let bit3 = bitsArray[2];
            let bit4 = bitsArray[3];
            let bit5 = bitsArray[4];
            let bit6 = bitsArray[5];
            let bit7 = bitsArray[6];
            let bit8 = bitsArray[7];
            //console.log(bit8 + " " + bit7 + " " + bit6 + " " + bit5 + " " + bit4 + " " + bit3)
            switch (bit8.toString()) {
                case "1":
                    bt_on1.classList.remove('light');
                    break;
                case "0":

                    bt_on1.classList.add('light');
                    break;
            }
            switch (bit7.toString()) {
                case "1":

                    bt_on2.classList.remove('light');
                    break;
                case "0":

                    bt_on2.classList.add('light');
                    break;
            }
            switch (bit6.toString()) {
                case "1":
                    bt_on3.classList.remove('light');
                    break;
                case "0":
                    bt_on3.classList.add('light');
                    break;
            }
            switch (bit5.toString()) {
                case "1":
                    bt_on4.classList.remove('light');
                    break;
                case "0":
                    bt_on4.classList.add('light');
                    break;
            }
            switch (bit4.toString()) {
                case "1":
                    bt_on5.classList.remove('light');
                    break;
                case "0":
                    bt_on5.classList.add('light');
                    break;
            }
            switch (bit3.toString()) {
                case "1":
                    bt_on6.classList.remove('light');
                    break;
                case "0":
                    bt_on6.classList.add('light');
                    break;
            }
        })
        socket.on('display2', (data) => {
            let jsonData = JSON.parse(data)
            console.log(jsonData)
            let value = parseInt(jsonData.data, 16).toString(2)
            console.log(value)
            let bitsArray = value.split("");
            let bit1 = bitsArray[0];
            let bit2 = bitsArray[1];
            let bit3 = bitsArray[2];
            let bit4 = bitsArray[3];
            let bit5 = bitsArray[4];
            let bit6 = bitsArray[5];
            let bit7 = bitsArray[6];
            let bit8 = bitsArray[7];
            //console.log(bit8 + " " + bit7 + " " + bit6 + " " + bit5 + " " + bit4 + " " + bit3)
            switch (bit8.toString()) {
                case "1":
                    bt_on21.classList.remove('light');
                    break;
                case "0":

                    bt_on21.classList.add('light');
                    break;
            }
            switch (bit7.toString()) {
                case "1":

                    bt_on22.classList.remove('light');
                    break;
                case "0":

                    bt_on22.classList.add('light');
                    break;
            }
            switch (bit6.toString()) {
                case "1":
                    bt_on23.classList.remove('light');
                    break;
                case "0":
                    bt_on23.classList.add('light');
                    break;
            }
            switch (bit5.toString()) {
                case "1":
                    bt_on24.classList.remove('light');
                    break;
                case "0":
                    bt_on24.classList.add('light');
                    break;
            }
            switch (bit4.toString()) {
                case "1":
                    bt_on25.classList.remove('light');
                    break;
                case "0":
                    bt_on25.classList.add('light');
                    break;
            }
            switch (bit3.toString()) {
                case "1":
                    bt_on26.classList.remove('light');
                    break;
                case "0":
                    bt_on26.classList.add('light');
                    break;
            }
        })


    </script>
</body>

</html>