<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home-web.css">
    <link rel="stylesheet" href="/css/themify-icons/themify-icons.css">
    <link rel="icon" type="image/x-icon" href="/img/symbol.JPG">
    <title>Trang chủ</title>
</head>

<body>
    <div id="main">
        <div id="header">
            <div class="col-quarter icon-web">
                <img src="/img/logo-canh-cay.PNG" alt="logo-IUH" class="logo-canh-cay">
                <h5>DHDKTD K15</h5>
            </div>
            <div class="col-half text-cennter">
                <ul id="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/config">Configuration</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <!-- <li><a href="#">
                            More
                            <i class="nav-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li><a href="">Merchandise</a></li>
                            <li><a href="">Extras</a></li>
                            <li><a href="">Media</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>

            <div class="col-quarter">
                <div class="input-user user-btn">
                    <a href="/login">Log In</a>
                </div>
                <div class="user-btn">
                    <i class="user-icon ti-user"></i>
                </div>
            </div>
        </div>

        <div id="silder">
            <div class="text-header background-img" style="text-align: center;">
                <div class="mg_auto width930" >
                    <h1 class="text-conten">THIẾT KẾ HỆ THỐNG ĐIỀU KHIỂN GIÁM SÁT THÔNG SỐ CÂY TRỒNG DỰA TRÊN NỀN TẢNG
                        IOT</h1>
                    <h4 class="text-des">Khoa Công Nghệ Điện, trường Đại học Công nghiệp Tp. Hồ Chí Minh
                    </h4>
                </div>
                <div class="mg_auto width820" style="text-overflow: ellipsis; ">
                    <!-- <h6 class="text18">1. Bàn về giải pháp phát triển kinh tế số trong bối cảnh hiện nay 
                        - Tác giả: Phan Trọng Phức 
                        – Đăng trên: Tạp chí Kinh tế và dự báo [Số 7, tháng 3/2021 (761)]</h6> -->
                    <!-- <ol class="text18 strong">
                        <li>Bàn về giải pháp phát triển kinh tế số trong bối cảnh hiện nay
                            - <u>Tác giả:</u> Phan Trọng Phức
                            – <u>Đăng trên:</u> Tạp chí Kinh tế và dự báo [Số 7, tháng 3/2021 (761)]
                            <a class=""
                                href="https://dainamedu-my.sharepoint.com/personal/sdh_dainam_edu_vn/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021%2FB%C3%A0n%20v%E1%BB%81%20gi%E1%BA%A3i%20ph%C3%A1p%20ph%C3%A1t%20tri%E1%BB%83n%20kinh%20t%E1%BA%BF%20s%E1%BB%91%20trong%20b%E1%BB%91i%20c%E1%BA%A3nh%20hi%E1%BB%87n%20nay%20%2D%20Phan%20Tr%E1%BB%8Dng%20Ph%E1%BB%A9c%2Epdf&parent=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021&ga=1">
                                (Xem chi tiết)</a>
                        </li>
                        <li>Tăng cường quản lý Nhà nước đối với vốn đầu tu trực tiếp nước ngoài ở Việt Nam
                            - <u>Tác giả:</u> Trần Minh Hoàng & Lê Thế Anh
                            – <u>Đăng trên:</u> Tạp chí Kinh tế Châu Á - Thái Bình Dương [Số 587, tháng 4/2021]
                            <a class=""
                                href="https://dainamedu-my.sharepoint.com/personal/sdh_dainam_edu_vn/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021%2FT%C4%83ng%20c%C6%B0%E1%BB%9Dng%20qu%E1%BA%A3n%20l%C3%BD%20Nh%C3%A0%20n%C6%B0%E1%BB%9Bc%20%C4%91%E1%BB%91i%20v%E1%BB%9Bi%20v%E1%BB%91n%20%C4%91%E1%BA%A7u%20tu%20tr%E1%BB%B1c%20ti%E1%BA%BFp%20n%C6%B0%E1%BB%9Bc%20ngo%C3%A0i%20%E1%BB%9F%20Vi%E1%BB%87t%20Nam%20%2D%20Tr%E1%BA%A7n%20Minh%20Ho%C3%A0ng%20%26%20L%C3%AA%20Th%E1%BA%BF%20Anh%2Epdf&parent=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021&ga=1">
                                (Xem chi tiết)</a>
                        </li>
                        <li>Xuất khẩu nông sản Việt Nam trong bối cảnh hội nhập
                            - <u>Tác giả:</u> Trần Minh Hoàng & Vũ Trường Sơn
                            – <u>Đăng trên:</u> Tạp chí Kinh tế Châu Á - Thái Bình Dương [Số 588, tháng 5/2021]
                            <a class=""
                                href="https://dainamedu-my.sharepoint.com/personal/sdh_dainam_edu_vn/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021%2FXu%E1%BA%A5t%20kh%E1%BA%A9u%20n%C3%B4ng%20s%E1%BA%A3n%20Vi%E1%BB%87t%20Nam%20trong%20b%E1%BB%91i%20c%E1%BA%A3nh%20h%E1%BB%99i%20nh%E1%BA%ADp%2Epdf&parent=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021&ga=1">
                                (Xem chi tiết)</a>
                        </li>
                        <li>Quản trị Quốc gia trong bối cảnh chuyển đổi số
                            - <u>Tác giả:</u> Vũ Trường Sơn & Vũ Văn Hà
                            – <u>Đăng trên:</u> Tạp chí Khoa học & Công nghệ Việt Nam [(746), số 5 năm 2021]
                            <a class=""
                                href="https://dainamedu-my.sharepoint.com/personal/sdh_dainam_edu_vn/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021%2FQu%E1%BA%A3n%20tr%E1%BB%8B%20Qu%E1%BB%91c%20gia%20trong%20b%E1%BB%91i%20c%E1%BA%A3nh%20chuy%E1%BB%83n%20%C4%91%E1%BB%95i%20s%E1%BB%91%20%2D%20V%C5%A9%20Tr%C6%B0%E1%BB%9Dng%20S%C6%A1n%2BV%C5%A9%20V%C4%83n%20H%C3%A0%2Epdf&parent=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021&ga=1">
                                (Xem chi tiết)</a>
                        </li>
                        <li>Phát triển thị trường chứng khoán trong bối cảnh mới
                            - <u>Tác giả:</u> Trần Đức Vui
                            – <u>Đăng trên:</u> Tạp chí Kinh tế và dự báo [Số 13, tháng 5/2021]
                            <a class=""
                                href="https://dainamedu-my.sharepoint.com/personal/sdh_dainam_edu_vn/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021%2FPh%C3%A1t%20tri%E1%BB%83n%20th%E1%BB%8B%20tr%C6%B0%E1%BB%9Dng%20ch%E1%BB%A9ng%20kho%C3%A1n%20trong%20b%E1%BB%91i%20c%E1%BA%A3nh%20m%E1%BB%9Bi%20%2D%20Tr%E1%BA%A7n%20%C4%90%E1%BB%A9c%20Vui%2Epdf&parent=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021&ga=1">
                                (Xem chi tiết)</a>
                        </li>
                    </ol> -->
                    <!-- <p class="text-homeweb">Nông nghiệp thông minh (Nông nghiệp 4.0) là một lĩnh vực đang phát
                        triển nhanh trong ngành nông nghiệp, được kết hợp từ các công nghệ
                        như trí tuệ nhân tạo, internet vạn vật (IoT), cảm biến và tự động hóa
                        trong quá trình sản xuất nông nghiệp. Các giải pháp nông nghiệp thông
                        minh có thể giúp tăng năng suất, cải thiện quản lý cây trồng và đảm
                        bảo an toàn thực phẩm, đồng thời giảm thiểu sự phát thải khí thải và
                        rác thải, giúp bảo vệ môi trường. Với mong muốn áp dụng được công
                        nghệ hiện đại, tạo ra những sản phẩm phù hợp, giá rẻ dễ sử dụng với
                        nhà nông, giúp nông dân có thể tiếp cận và áp dụng các công nghệ mới,
                        từ đó nâng cao hiệu quả sản xuất và tăng thu nhập. Từ những ưu điểm
                        và mong muốn trên, nhóm tác giả đề xuất và phát triển hệ thống điều
                        khiển, giám sát các thông số cây trồng thông qua sử dụng công nghệ IoT.
                        Hệ thống này tự động điều khiển và giám sát các thông số nhiệt độ, độ ẩm,
                        ánh sáng của môi trường nhà kính, nồng độ pH và NPK trong đất của cây trồng.
                        Hệ thống có thể kết nối với nhau theo mạng truyền không dây Lora, kết
                        nối internet thông qua wifi, gửi dữ liệu tới máy chủ để phân tích, xử lý
                        và điều khiển hệ thống. Người dùng có thể truy cập thông tin cây trồng và
                        quản lý chúng thông qua ứng dụng trên điện thoại di động hoặc trên web của
                        máy tính. Hiệu quả của hệ thống được Viện công nghệ sinh học, trường Đại học
                        Công nghiệp Tp. Hồ Chí Minh kiểm nghiệm và đánh giá.
                    </p> -->
                    <!-- <div class="text-open-view">( Xem Thêm )</div> -->
                </div>

            </div>
        </div>

        <div id="content2">
            <div class="text-header">
                <h2 class="text-conten">Giới Thiệu</h2>
                <div class="text-des">      Nông nghiệp thông minh (Nông nghiệp 4.0) là một lĩnh vực phát 
                    triển nhanh trong ngành nông nghiệp, kết hợp trí tuệ nhân tạo, IoT, cảm biến và 
                    tự động hóa. Giải pháp nông nghiệp thông minh giúp tăng năng suất, quản lý cây 
                    trồng và an toàn thực phẩm, giảm khí thải và rác thải. Nhóm tác giả đã phát triển 
                    hệ thống IoT tự động điều khiển và giám sát nhiệt độ, độ ẩm, ánh sáng, pH và NPK 
                    trong đất. Hệ thống kết nối qua mạng Lora và internet,cho phép người dùng truy 
                    cập và quản lý thông qua ứng dụng di động hoặc web.</div>
            </div>
        </div>

        <div id="content">
            <div class="text-header">
                <h2 class="text-conten text-center">Bài viết liên quan</h2>
                <div class="relate-item4">
                    <div class="row relate-item ">
                        <div class="col col-third pad14 ">
                            <div class="border1px height294 color-white pad18 box-shadow" style="min-width: 290px;">
                                <img src="https://yt3.googleusercontent.com/meT8zK80buToCJnGl7YL9NvKBTNtdOr3NhOf82bThAAcKC8avn5bqR46sOdQnSZsSVOMkINKdQ=s900-c-k-c0x00ffffff-no-rj" 
                                alt="logo-IUH" class="logo-iuh">
                                <p class="mg-bottom16 relate-item3">NÔNG NGHIỆP THÔNG MINH</p>
                                <a style="text-decoration: none;color: black;" class="clickelement1"
                                href="https://globalcheck.com.vn/mo-hinh-nong-nghiep-thong-minh-o-viet-nam">
                                <h3 class="mg-bottom12 relate-item2 max-witdh60">
                                    Phát triển mô hình nông nghiệp thông minh ở Việt Nam</h3></a>
                                <p class=" getitem">Ngày nay với việc ứng dụng khoa học kỹ thuật 
                                    phát triển đến đỉnh cao, con người dần đi đến một xã hội tự 
                                    động với sự hỗ trợ của máy móc với trí tuệ AI là chính. Những 
                                    ứng dụng này, ra đời nhằm giải quyết những khó khăn của chúng 
                                    ta trong quá khứ. Cùng chúng tôi sơ lược qua về nông nghiệp 
                                    của Việt Nam, và trong hiện tại nông nghiệp thông minh được 
                                    định nghĩa như thế nào với sự góp mặt trí tuệ AI trong nông nghiệp.</p>
                            </div>
                        </div>

                        <div class="col col-third pad14 ">
                            <div class="border1px height294 color-white pad18 box-shadow" style="min-width: 290px;">
                                <img src="https://airnano.vn/wp-content/uploads/2023/01/Asset-11-1.png" 
                                alt="logo-IUH" class="logo-iuh">
                                <p class="mg-bottom16 relate-item3"
                                style="    word-break: keep-all;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 2;"
                                >Nông nghiệp công nghệ cao</p>
                                <a 
                                style="text-decoration: none;color: black;" 
                                class="clickelement1"
                                target="_blank" 
                                href="https://airnano.vn/iot-nong-nghiep-la-gi-tai-sao-nen-ung-dung-iot-vao-trong-nong-nghiep/">
                                    <h3 class="mg-bottom12 relate-item2 max-witdh60">
                                        IoT nông nghiệp là gì? Tại sao nên ứng dụng IoT vào trong nông nghiệp?
                                    </h3>
                                </a>
                                <p class="getitem">Ở thời đại công nghệ 4.0 hiện nay, khi nói về nông 
                                    nghiệp kỹ thuật số thì không thể không nhắc đến công nghệ IoT 
                                    (Internet of Things). Vậy tại sao nên ứng dụng IoT vào trong nông 
                                    nghiệp? IoT nông nghiệp là gì? Ứng dụng IoT nông nghiệp giúp sử 
                                    dụng phân bón một cách hiệu quả, giảm thiểu sử dụng tài nguyên, 
                                    giảm chất thải ra môi trường, tăng năng suất và chất lượng nông sản.  
                                </p>
                            </div>
                        </div>

                        <div class="col col-third pad14 ">
                            <div class="border1px height294 color-white pad18 box-shadow" style="min-width: 290px;">
                                <img src="https://vietnetco.vn/wp-content/uploads/2022/03/logo-vietco.svg" 
                                alt="logo Trường Đại học Bách khoa" class="logo-iuh">
                                <p class="mg-bottom16 relate-item3">IoT Ngành nông nghiệp</p>
                                <a 
                                href="https://vietnetco.vn/iot-nganh-nong-nghiep-duoc-ung-dung-ra-sao-cac-loi-ich-dem-lai/12516.html" 
                                target="_blank"
                                style="text-decoration: none;color: black;" 
                                class="clickelement1"
                                >
                                <h3 class="mg-bottom12 relate-item2 max-witdh60">
                                    IOT Ngành nông nghiệp được ứng dụng ra sao? Các lợi ích đem lại
                                </h3>
                            </a>
                            
                                <p class="getitem">IoT hay internet of thing là thuật ngữ chỉ công 
                                    nghệ kết nối vạn vật trong cuộc cách mạng công nghiệp 4.0. IoT 
                                    không chỉ được ứng dụng trong nông nghiệp mà còn được ứng dụng 
                                    trong rất nhiều lĩnh vực khác của đời sống như sản xuất, công 
                                    nghiệp, nuôi trồng thủy sản, … Vietnetco sẽ giúp mọi người hiểu 
                                    rõ IoT ngành nông nghiệp là gì? Các tác động và ứng dụng chi tiết nhất.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        

        <div id="footer">
            <div class="socials-list">
                <a href=""><i class="ti-facebook"></i></a>
                <a href=""><i class="ti-instagram"></i></a>
                <a href=""><i class="ti-youtube"></i></a>
                <a href=""><i class="ti-pinterest"></i></a>
                <a href=""><i class="ti-twitter-alt"></i></a>
                <a href=""><i class="ti-linkedin"></i></a>
            </div>

        </div>



    </div>

    <script>
        // const pointer = document.querySelector('.text-open-view')
        // pointer.addEventListener('click', openall)
        // function openall() {
        //     document.querySelector('.text-homeweb').classList.add('show_all')
        // }
    </script>



</body>

</html>