<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home-web.css">
    <link rel="stylesheet" href="/css/themify-icons/themify-icons.css">
    <link rel="icon" type="image/x-icon" href="/img/symbol.JPG">
    <title>Document</title>
</head>

<body>
    <div id="main">
        <div id="header">
            <div class="col-quarter icon-web">
                <img src="/img/logo-canh-cay.PNG" alt="logo-IUH" class="logo-canh-cay">
                <h5>DHDKTD K15</h5>
            </div>
            <div class="col-half text-cennter">
                <ul id="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/config">Configuration</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <!-- <li><a href="#">
                            More
                            <i class="nav-down ti-angle-down"></i>
                        </a>
                        <ul class="subnav">
                            <li><a href="">Merchandise</a></li>
                            <li><a href="">Extras</a></li>
                            <li><a href="">Media</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>

            <div class="col-quarter">
                <div class="input-user user-btn">
                    <a href="/login">Log In</a>
                </div>
                <div class="user-btn">
                    <i class="user-icon ti-user"></i>
                </div>
            </div>
        </div>

        <div id="silder">
            <div class="text-header background-img">
                <div class="mg_auto width930">
                    <h1 class="text-conten">THIẾT KẾ HỆ THỐNG ĐIỀU KHIỂN GIÁM SÁT THÔNG SỐ CÂY TRỒNG DỰA TRÊN NỀN TẢNG IOT</h1>
                    <h4 class="text-des">Khoa Công Nghệ Điện, trường Đại học Công nghiệp Tp. Hồ Chí Minh
                        </h4>
                </div>
                <div class="mg_auto width820" style="text-overflow: ellipsis; ">
                    <!-- <h6 class="text18">1. Bàn về giải pháp phát triển kinh tế số trong bối cảnh hiện nay 
                        - Tác giả: Phan Trọng Phức 
                        – Đăng trên: Tạp chí Kinh tế và dự báo [Số 7, tháng 3/2021 (761)]</h6> -->
                    <!-- <ol class="text18 strong">
                        <li>Bàn về giải pháp phát triển kinh tế số trong bối cảnh hiện nay
                            - <u>Tác giả:</u> Phan Trọng Phức
                            – <u>Đăng trên:</u> Tạp chí Kinh tế và dự báo [Số 7, tháng 3/2021 (761)]
                            <a class=""
                                href="https://dainamedu-my.sharepoint.com/personal/sdh_dainam_edu_vn/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021%2FB%C3%A0n%20v%E1%BB%81%20gi%E1%BA%A3i%20ph%C3%A1p%20ph%C3%A1t%20tri%E1%BB%83n%20kinh%20t%E1%BA%BF%20s%E1%BB%91%20trong%20b%E1%BB%91i%20c%E1%BA%A3nh%20hi%E1%BB%87n%20nay%20%2D%20Phan%20Tr%E1%BB%8Dng%20Ph%E1%BB%A9c%2Epdf&parent=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021&ga=1">
                                (Xem chi tiết)</a>
                        </li>
                        <li>Tăng cường quản lý Nhà nước đối với vốn đầu tu trực tiếp nước ngoài ở Việt Nam
                            - <u>Tác giả:</u> Trần Minh Hoàng & Lê Thế Anh
                            – <u>Đăng trên:</u> Tạp chí Kinh tế Châu Á - Thái Bình Dương [Số 587, tháng 4/2021]
                            <a class=""
                                href="https://dainamedu-my.sharepoint.com/personal/sdh_dainam_edu_vn/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021%2FT%C4%83ng%20c%C6%B0%E1%BB%9Dng%20qu%E1%BA%A3n%20l%C3%BD%20Nh%C3%A0%20n%C6%B0%E1%BB%9Bc%20%C4%91%E1%BB%91i%20v%E1%BB%9Bi%20v%E1%BB%91n%20%C4%91%E1%BA%A7u%20tu%20tr%E1%BB%B1c%20ti%E1%BA%BFp%20n%C6%B0%E1%BB%9Bc%20ngo%C3%A0i%20%E1%BB%9F%20Vi%E1%BB%87t%20Nam%20%2D%20Tr%E1%BA%A7n%20Minh%20Ho%C3%A0ng%20%26%20L%C3%AA%20Th%E1%BA%BF%20Anh%2Epdf&parent=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021&ga=1">
                                (Xem chi tiết)</a>
                        </li>
                        <li>Xuất khẩu nông sản Việt Nam trong bối cảnh hội nhập
                            - <u>Tác giả:</u> Trần Minh Hoàng & Vũ Trường Sơn
                            – <u>Đăng trên:</u> Tạp chí Kinh tế Châu Á - Thái Bình Dương [Số 588, tháng 5/2021]
                            <a class=""
                                href="https://dainamedu-my.sharepoint.com/personal/sdh_dainam_edu_vn/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021%2FXu%E1%BA%A5t%20kh%E1%BA%A9u%20n%C3%B4ng%20s%E1%BA%A3n%20Vi%E1%BB%87t%20Nam%20trong%20b%E1%BB%91i%20c%E1%BA%A3nh%20h%E1%BB%99i%20nh%E1%BA%ADp%2Epdf&parent=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021&ga=1">
                                (Xem chi tiết)</a>
                        </li>
                        <li>Quản trị Quốc gia trong bối cảnh chuyển đổi số
                            - <u>Tác giả:</u> Vũ Trường Sơn & Vũ Văn Hà
                            – <u>Đăng trên:</u> Tạp chí Khoa học & Công nghệ Việt Nam [(746), số 5 năm 2021]
                            <a class=""
                                href="https://dainamedu-my.sharepoint.com/personal/sdh_dainam_edu_vn/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021%2FQu%E1%BA%A3n%20tr%E1%BB%8B%20Qu%E1%BB%91c%20gia%20trong%20b%E1%BB%91i%20c%E1%BA%A3nh%20chuy%E1%BB%83n%20%C4%91%E1%BB%95i%20s%E1%BB%91%20%2D%20V%C5%A9%20Tr%C6%B0%E1%BB%9Dng%20S%C6%A1n%2BV%C5%A9%20V%C4%83n%20H%C3%A0%2Epdf&parent=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021&ga=1">
                                (Xem chi tiết)</a>
                        </li>
                        <li>Phát triển thị trường chứng khoán trong bối cảnh mới
                            - <u>Tác giả:</u> Trần Đức Vui
                            – <u>Đăng trên:</u> Tạp chí Kinh tế và dự báo [Số 13, tháng 5/2021]
                            <a class=""
                                href="https://dainamedu-my.sharepoint.com/personal/sdh_dainam_edu_vn/_layouts/15/onedrive.aspx?id=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021%2FPh%C3%A1t%20tri%E1%BB%83n%20th%E1%BB%8B%20tr%C6%B0%E1%BB%9Dng%20ch%E1%BB%A9ng%20kho%C3%A1n%20trong%20b%E1%BB%91i%20c%E1%BA%A3nh%20m%E1%BB%9Bi%20%2D%20Tr%E1%BA%A7n%20%C4%90%E1%BB%A9c%20Vui%2Epdf&parent=%2Fpersonal%2Fsdh%5Fdainam%5Fedu%5Fvn%2FDocuments%2FB%C3%A0i%20b%C3%A1o%20NCKH%202021&ga=1">
                                (Xem chi tiết)</a>
                        </li>
                    </ol> -->
                    <p class="text-homeweb">Nông nghiệp thông minh (Nông nghiệp 4.0) là một lĩnh vực đang phát 
                        triển nhanh trong ngành nông nghiệp, được kết hợp từ các công nghệ 
                        như trí tuệ nhân tạo, internet vạn vật (IoT), cảm biến và tự động hóa 
                        trong quá trình sản xuất nông nghiệp. Các giải pháp nông nghiệp thông 
                        minh có thể giúp tăng năng suất, cải thiện quản lý cây trồng và đảm 
                        bảo an toàn thực phẩm, đồng thời giảm thiểu sự phát thải khí thải và
                         rác thải, giúp bảo vệ môi trường. Với mong muốn áp dụng được công 
                         nghệ hiện đại, tạo ra những sản phẩm phù hợp, giá rẻ dễ sử dụng với 
                         nhà nông, giúp nông dân có thể tiếp cận và áp dụng các công nghệ mới, 
                         từ đó nâng cao hiệu quả sản xuất và tăng thu nhập. Từ những ưu điểm 
                         và mong muốn trên, nhóm tác giả đề xuất và phát triển hệ thống điều 
                         khiển, giám sát các thông số cây trồng thông qua sử dụng công nghệ IoT. 
                         Hệ thống này tự động điều khiển và giám sát các thông số nhiệt độ, độ ẩm, 
                         ánh sáng của môi trường nhà kính, nồng độ pH và NPK trong đất của cây trồng. 
                         Hệ thống có thể kết nối với nhau theo mạng truyền không dây Lora, kết 
                         nối internet thông qua wifi, gửi dữ liệu tới máy chủ để phân tích, xử lý 
                         và điều khiển hệ thống. Người dùng có thể truy cập thông tin cây trồng và 
                         quản lý chúng thông qua ứng dụng trên điện thoại di động hoặc trên web của 
                         máy tính. Hiệu quả của hệ thống được Viện công nghệ sinh học, trường Đại học 
                         Công nghiệp Tp. Hồ Chí Minh kiểm nghiệm và đánh giá.
                        </p>
                        <div class="text-open-view">( Xem Thêm )</div>
                </div>

            </div>
        </div>

        <div id="content">
            <div class="text-header">
                <h2 class="text-conten text-center">Bài viết liên quan</h2>
                <div class="relate-item4">
                    <div class="row relate-item ">
                        <div class="col col-third pad14 ">
                            <div class="border1px height294 color-white pad18 box-shadow">
                                <img src="/img/Logo-IUH.jpg" alt="logo-IUH" class="logo-iuh">
                                <p class="mg-bottom16 relate-item3">VIỆN SAU ĐẠI HỌC</p>
                                <h3 class="mg-bottom12 relate-item2 max-witdh60">Danh mục các bài báo khoa học năm học
                                    2020-2021</h3>
                                <p class="height120">Các công trình, bài báo công bố của giảng viên Viện đào
                                    tạo Sau đại học Trường Đại học Đại Nam trong năm 2020</p>
                            </div>
                        </div>

                        <div class="col col-third pad14 ">
                            <div class="border1px height294 color-white pad18 box-shadow">
                                <img src="/img/Logo-IUH.jpg" alt="logo-IUH" class="logo-iuh">
                                <p class="mg-bottom16 relate-item3">VIỆN SAU ĐẠI HỌC</p>
                                <h3 class="mg-bottom12 relate-item2 max-witdh60">Nghiệm thu đề tài NCKH cấp trường “Xây
                                    dựng hệ
                                    thống chỉ số đo lường hiệu quả công việc của cá nhân...
                                </h3>
                                <p class="height120">Vào hồi 14h00 ngày 10/11/2020, tại Phòng Hội thảo của Trường Đại
                                    học Đại Nam,
                                    Hội đồng các nhà khoa học đã tiến hành nghiệm thu đề tài NCKH cấp trường về nội dung
                                    “Xây dựng hệ thống chỉ số đo lường hiệu quả công việc của cá nhân và tập thể (KPI)
                                    tại…</p>
                            </div>
                        </div>

                        <div class="col col-third pad14 ">
                            <div class="border1px height294 color-white pad18 box-shadow">
                                <img src="/img/Logo-IUH.jpg" alt="logo-IUH" class="logo-iuh">
                                <p class="mg-bottom16 relate-item3">VIỆN SAU ĐẠI HỌC</p>
                                <h3 class="mg-bottom12 relate-item2 max-witdh60">Danh mục bài báo khoa học Ngành Luật
                                    Kinh tế</h3>
                                <p class="height120">Các công trình công bố của giảng viên cơ hữu thuộc
                                    ngành Luật Kinh tế của Trường Đại học Đại Nam trong
                                    05 năm trở lại đây.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="content2">
            <div class="text-header">
                <h2 class="text-conten">TÍNH NĂNG</h2>
                <div class="text-des">GHI NOI DUNG</div>
            </div>
        </div>

        <div id="footer">
            <div class="socials-list">
                <a href=""><i class="ti-facebook"></i></a>
                <a href=""><i class="ti-instagram"></i></a>
                <a href=""><i class="ti-youtube"></i></a>
                <a href=""><i class="ti-pinterest"></i></a>
                <a href=""><i class="ti-twitter-alt"></i></a>
                <a href=""><i class="ti-linkedin"></i></a>
            </div>

        </div>



    </div>

    <script>
        const pointer=document.querySelector('.text-open-view')
        pointer.addEventListener('click',openall)
        function openall(){
            document.querySelector('.text-homeweb').classList.add('show_all')
        }
    </script>



</body>

</html>