<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/x-icon" href="/img/symbol.JPG">
</head>

<body>

    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="/register" enctype="multipart/form-data" method="POST">
                <h1>Create Account</h1>
                <input name="name" id="name" placeholder="Enter Name..." required>
                <input name="username" id="username" placeholder="Enter Username..." required>
                <input type="password" name="password" id="password" placeholder="Enter password..." required>
                <input type="email" name="email" id="email" placeholder="Enter email address..." required>
                <input type="file" name="file">
                <div class="submit">
                    <button type="submit" class="btn add size-l">Register</button>
                </div>

            </form>
        </div>

        <div class="form-container log-in-container">
            <form action="/login" method="POST">
                <h1>Log in</h1>
                <input type="text" name="username" id="username" placeholder="Username" required />
                <input type="password" name="password" id="password" placeholder="Password" required />
                <a href="#">Forgot your password?</a>
                <div class="submit">
                    <button type="submit" class="btn add size-l">Login</button>
                </div>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>Already have an account? Log In</p>
                    <button class="ghost" id="logIn">Log In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, There!</h1>
                    <p>Don't have an account? Sign Up Free</p>
                    <button class="ghost" id="signUp">Sign Up</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/js/login.js"></script>
</body>

</html>