.col-half {
    width: 50%;
}

.row {
    display: flex;
}

.item-right{
    float: right;
}

.border {
    border:1px black solid;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.pad10{
    padding-left: 10px;
    padding-right: 10px;
}

.mar5{
    margin-top: 5px;
    margin-bottom: 5px;
}

.right0{
    right:0;
    position: absolute;
}