.colorh2{
    margin-top: 80px;
    margin-bottom: 20px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.centerText{
    text-align: center;
}

.centerItem{
    justify-content: center;
}

.line{
    width: 70px;
    height: 3px;
    background-color: #FF6600;
    margin-right: auto;
    margin-left: auto;
}
.border1px{
    border: 1px solid black;
    width: 150px;
    height: 200px;
    margin: 20px;
}

.marginT10{
    margin-top: 10;
    margin-bottom: 10;
}

.row{
    display: flex;
}

.socials-list{
    font-size: 24px;

}

.socials-list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}

.socials-list a:hover{
    color: rgba(0, 0, 0, 0.3);
}