*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-quarter{
    width: 25%;
}

.col-half {
    width: 50%;
}


.text-cennter{
    text-align: center;
}   

#header{
    background-color: #000;
    box-sizing: border-box;
    height: 59.5px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    
}

#header .icon-web{
    color: #fff;
    line-height: 59.5px;
    font-size: 25px;
    display: flex;
    min-width: 235px;
}


#nav{
    display: inline;

}


#nav li {
    position: relative;
    font-size: 18px;
    font-weight: bold;
}

#nav > li {
    display: inline-block;
}

#nav li a{
    line-height: 59.5px;
    padding: 0 24px;
    color: #fff;
    text-decoration: none;
    display: block;
}

#nav .subnav li:hover a,
#nav li:hover >a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top:100%;
    left:0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    list-style-type:none;
}

#nav .subnav a {
    padding: 0 12px;
    line-height: 38px;
    color: #000;
}

#nav li:hover .subnav {
    display: block;
}

#nav .nav-down {
    font-size: 14px;
}

#header .user-btn {
    float: right;
    line-height: 59.5px;
    padding: 0 21px;
    }
    
#header .user-btn:hover {
    background-color: red;
    cursor:pointer;
    }
    
#header .user-icon {
    color: #fff;
    font-size: 20px;
    }

#header .user-text{
    /* float: right; */
    line-height: 59.5px;
    padding: 0 21px;
}

#header .input-user{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}



